<! DOCTYPE html>
<html>
<header>
    <meta charset= "utf-8">
    <title>{% block title %}Welcome to Bank{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->>
    <link href="https://stackpath.bootstrapcdn.com/..." rel="stylesheet">
</header>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Welcome to Bank</a>
    <button class="navabr-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false"
    arial-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{% url 'post_new' %}">+New Post</a>
                    <a class="nav-link dropdown-toggle" href="#"
                    id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right"
                    aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                        href="{% url 'password_change' %}">change password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                        Log Out</a>
                    </div>
                </li>
            </ul>
        {% else %}
            <form class="form-inline ml-auto">
                
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                Log In</a>
                <a href="{% url 'password_reset' %}" class="btn btn-outline-secondary">
                    Forgot Password</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
                Sign up</a>
            </form>
        {% endif %}
    </div>
</nav>            
<main>
    <div class="container">
        {% block content %}
            {% for post in posts %}
                <div class="post">
                     <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>

                    
                    
                </div>
        {% endfor %}
        {% endblock content %}
    </div>
</main>
<script src="https://code.jquery.com/..."></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js..."></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/..."></script>
</body>
</html>
